*{margin:0;padding:0;box-sizing: border-box;}
*::before{box-sizing:border-box;}
*::after{box-sizing:border-box;}
body{font-size:12px;}
ul,ol,li{list-style:none;}
a{
    text-decoration: none;}
.icon{
    background:transparent url(http://ossweb-img.qq.com/images/lol/v2/spr-v2.png) no-repeat 0 0;
    display: inline-block;
    width:27px;
    height:27px;
}
.icon-hot{
    background-position: -105px 0;
    width:16px;height:16px;
    vertical-align: middle;
}
.icon-new{
    background-position: -130px 0;
    width:16px;
    height:16px;
    vertical-align: middle;
}
.clearfix::after{content:'';display: block;clear:both;}
.clearfix{zoom:1;}
.topbar-warpper{
    background: #000;
    position: relative;
}
#header{
    overflow: hidden;
}
.header{
    height:840px;
    background:url(http://ossweb-img.qq.com/images/lol/v2/banner/pic-big-v12.jpg) no-repeat center 90px;
    transition:all 0.8s ease;
}
.header-close{
    background: url(http://ossweb-img.qq.com/images/lol/v2/banner/pic-back-v12.jpg) no-repeat center 90px;
    height:440px;

}
.header-close .top-big-video{

    filter:alpha(opacity=0);
}
.hearder-close .top-back-video{
    opacity:1;
}
.header-close .banner-art{
    height:310px;
    padding-top:100px;
}
.topbar-warpper .subMenu {
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    display: none;
    background: rgba(0,0,0,0.5);
    z-index:5;
}
.topbar-warpper .subMenu.active{
    display: block;
}
.topbar-warpper .subMenu > ul{
    padding-left:200px;
    text-align: center;
    width: 1240px;
    margin: 0 auto;
}
.topbar-warpper .subMenu > ul >li{
    width:120px;
    float:left;
    margin:20px auto;
}
.topbar-warpper .subMenu > ul >li >a{
    display: block;
    font-size:14px;
    color:#e1e1e1;
    text-align: center;
    height:28px;
    line-height:28px;
    text-decoration: none;
}
.topbar{
    width:1240px;
    margin:auto;
    color:white;
    position: relative;
}
.topbar .logo{
    background:transparent url(http://ossweb-img.qq.com/images/lol/v2/spr-v2.png) no-repeat 0 -30px;
    width: 190px;
    height:100px;
    position: absolute;
    top:0;
    left:0;
    z-index:10;
}
.topbar .toutiao{  float:left; margin-left:200px; }
.topbar .toutiao .Menu>li{float:left; font-size:18px;width:120px;  text-align: center;margin:19px 0;}
.topbar .toutiao .Menu>li>span{display:block;}
.topbar .toutiao .Menu>li>small{font-size:12px;color:#838383;}
.topbar .icons{ float:left;padding-top:20px;}
.topbar > .icons >a{margin:0 10px;}
.topbar > .icons > a.search{  display:inline-block;
    width:27px;
    height:27px;
    background:transparent url(http://ossweb-img.qq.com/images/lol/v2/spr-v2.png) no-repeat -8px 0;
}
.topbar > .icons > a.mobile{
    display: inline-block;
    width:21px;
    height:27px;
    background:transparent url(http://ossweb-img.qq.com/images/lol/v2/spr-v2.png) no-repeat -45px 0;
}
.topbar .usename{
    float:left;
    position: relative;
}
.topbar>.usename >.use-icon{
    width:74px;
    height:74px;
    position: relative;
    padding-top:4px;
    padding-left:4px;
    float:left;
}
.topbar>.usename>.use-icon>.mask{
    width:74px;
    height:74px;
    z-index:1;
    position:absolute;
    top:0;left:0;
    background: transparent url(http://ossweb-img.qq.com/images/lol/v2/spr-v2.png) no-repeat 0 -170px;
    margin-top:5px;
}
.topbar>.usename>.text{float:left;padding-top:18px;font-size:16px;margin-left: 20px;}
.topbar>.usename>.text>p>small{color:#838383;}
.topbar>.usename >.popover{
    display: none;
    position:absolute;
    width:100%;
    padding-top:20px;
    top:80px;
    background: rgba(27,27,27,0.9);
    z-index:5;
}
.topbar>.usename>.popover.active{
    display: block;
}
.topbar>.usename>.popover>p{
    padding:10px 30px 30px;
    text-align:left;
    color:#868686;
    font-size:14px;

}
.topbar>.usename>.popover>a{
    position:absolute;
    width:100%;
    height:36px;
    line-height:36px;
    background: #161413;
    color:#e0e0e0;
    font-size:12px;
    text-align: center;
    text-decoration: none;
}

.banner{
    position:relative;
    height:750px;
    transition:all .8s ease;
}
.header-close .banner{
    height:350px;
}
.layou{
    width: 1240px;
    margin:0 auto;
}
.top-big-video{
    position:absolute;
    z-index:2;
    left:50%;
    top:0;
    margin-left:-960px;
    width:1920px;
    height:750px;
    opacity: 1;
    transition:all .8s ease;
}
.top-back-video{
    position: absolute;z-index:1;
    left:50%;
    top:0;
    width:1920px;
    height:350px;
    transition:all .8s ease;
    display:none;
}
.banner-art{
    position: relative;
    height:635px;
    padding-top:115px;
    z-index:2;
    transition:all 0.8s ease;
}
.banner-art-name{
    position: relative;
    height:50px;
    margin-bottom:10px;
    color:#ffcb60;
    font-size:50px;
    line-height:50px;
    font-weight:bold;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,232,184,1)), to(rgba(175,133,48,1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-art-name span{
    position: absolute;
    left:0;
    color:transparent;
    text-shadow:0 0 30px #000;
    z-index:-1;
}
.banner-art-desc{
    width:550px;
    height:60px;
    margin-bottom: 25px;
    font-size:14px;
    color:#dbdbdb;
    line-height:30px;
    overflow: hidden;
    text-shadow:0 0 5px #000;
    transition:all 0.8s ease;
}
a.banner-act-link{
    display: block;
    width:155px;
    height:36px;
    border:2px solid #bd9440;
    text-align: center;
    line-height: 36px;
    background: rgba(0,0,0,0.65);
    font-size: 14px;
    font-weight:bold;
    color:#c89b3c;
    border-image: linear-gradient(to bottom, #6b5024 0%, #b88d35 100%);
    border-image-slice: 1;
  text-decoration: none;
}
.banner-veison{
    position:absolute;
    z-index:2;
    right:0;
    bottom:30px;
    font-size:14px;
    color:#888787;
}
.banner-veison em{
    color:#f5d185;
    margin-right:10px;
}
.banner-veison-link{
    display: inline-block;
    padding:0 15px;
    height:22px;
    border:2px solid #f5d185;
    text-align: center;
    line-height:19px;
    background: rgba(0,0,0,0.65);
    font-size:12px;
    color:#f5d185;
    border-image: linear-gradient(to bottom, #6b5024 0%, #b88d35 100%);
    border-image-slice: 1;
    text-decoration: none;
}
.menu{
    position:relative;width:100%;
    height:80px;
    border-top:2px solid #8c6c2d;
    background: url(http://ossweb-img.qq.com/images/lol/v2/spr-v2.png) repeat-x 0 -257px;
}
.menu ul{
    width:1240px;
    margin:0 auto;
}
.menu .current{
    color:#d1ab57;
    border-bottom:2px solid #d1ab57;
}
.menu .dot{
    width:13px;
    height:50px;
    margin:4px 18px;
    background: url(http://ossweb-img.qq.com/images/lol/v2/spr-v2.png) no-repeat -290px -30px;
}
.fix-menu{
    position:fixed;
    z-index:888;
    top:0;
}
.menu li{
    float:left;
    width:110px;
    height:58px;
    line-height:58px;
    font-size:20px;
    text-align: center;
    border-bottom:2px solid transparent;
    cursor: pointer;
}
.content{
    height:1650px;
    padding-top:40px;
    margin-top:-20px;
    background: #f7f7f7  url(http://ossweb-img.qq.com/images/lol/v2/bg-content-top.jpg) no-repeat center top;
}
.content-inner{
    background: url(http://ossweb-img.qq.com/images/lol/v2/bg-content-bottom.jpg) no-repeat center bottom;
}
.layout{
    width:1240px;
    margin:0 auto;
}
.home-slide{
    position:relative;
}
.home-slide-item{
    width:1240px;
    margin:0 auto;
}

.home-slide>.current{
    display: block;
}
.promo{
    float:left;
    position: relative;
    width:820px;
    height:400px;
    margin-right:20px;
    margin-bottom:60px;
    overflow: hidden;
}
.promo-list{
    position: relative;
    height:350px;
    width:4100px;
    transition:transform 0.3s;
}
.promo-item{
    float:left;
    width:820px;
    height:350px;
    background: #000;
    overflow:hidden;
}
.promo-item a,.promo-item img{
    display:block;
    width:820px;
    height:350px;
}
.promo-trigger{
    width:100%;
    height:50px;
    background: #121212;
    overflow: hidden;
    zoom:1;
}
.promo-trigger span{
    float:left;
    width:164px;
    height:50px;
    line-height:50px;
    cursor:pointer;
    color:#c8c8c8;
    font-size:14px;
    text-align: center;
}
.promo-trigger .on{
    color:#e9c06c;
    background: #303030;
}
.side-nav{
    float:left;
    width:400px;
    height:400px;
}
.side-download{
    position:relative;
    display: block;
    width:100%;
    height:150px;
    margin-bottom:10px;
    background:url(http://ossweb-img.qq.com/images/lol/v2/bg-download.jpg) no-repeat 0 0;
}
.side-menu{
    margin-left:-5px;
}
.side-menu li{
    float:left;
    width:130px;
    height:55px;
    margin-left:5px;
    margin-top:5px;
}
.side-menu a{
    display: block;
    width:130px;
    height:55px;
    line-height:55px;
    background: #fff;
    text-align: center;
    font-size:14px;
    color:#555;
    text-decoration: none;
}
.side-menu a:hover{
    background-color: #f0f0f0;
}
.icon-guide,.icon-yz,.icon-small,.icon-icon
,.icon-cjf,.icon-cdk,.icon-rgm,.icon-info,.icon-reward,.icon-weibo
,.icon-bbs,.icon-kefu{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.icon-guide,.icon-yz,.icon-small,.icon-icon
,.icon-cjf,.icon-cdk,.icon-rgm,.icon-info,.icon-reward,.icon-weibo
,.icon-bbs,.icon-kefu,.icon-18{
    background-image:url(http://ossweb-img.qq.com/images/lol/v2/spr-v2.png);
    background-repeat:no-repeat;
}
.icon-guide{
    background-position:-200px 0;
}
.icon-yz{
    background-position: -560px 0;
}
.icon-small{
    background-position: -590px 0;
}
.icon-icon{
    background-position: -380px 0;
}
.icon-cjf{
    background-position: -650px 0;
}
.icon-cdk{
    background-position: -290px 0;
}
.icon-rgm{
    background-position: -620px 0;
}
.icon-info{
    background-position: -260px 0;
}
.icon-reward{
    background-position: -470px 0;
}
.icon-weibo{
    background-position: -500px 0;
}
.icon-bbs{
    background-position: -410px 0;
}
.icon-kefu{
    background-position: -440px 0;
}
.news{
    float:left;
    width:820px;
    margin-right:20px;
    margin-bottom:60px;
}
.tabs{
    position:relative;
    height:50px;
    border-bottom:3px solid #ededee;
}
.tab-title{
    float:left;
    font-size:26px;
    line-height:50px;
    color:#404040;
    margin-right:40px;
    font-weight:normal;
}
.tab-nav{
    float:left;
    position: relative;
    margin-top:14px;
    height:36px;
}
.tab-nav li{
    float:left;
    height:36px;
    line-height: 36px;
    overflow: hidden;
    cursor: pointer;
    color:#666666;
    font-size:16px;
    text-align: center;
}
.news-nav li{
    width:168px;
    font-size:18px;
}
.tab-nav> .current{
    color:#d1ab57;
    font-weight: bold;
    border-bottom:3px solid #d1ab57;
}
.text-list{
    padding:24px 0 0;
}
.news-content .flrst{
    height:124px;
    margin-bottom: 24px;
    overflow: hidden;
}
.news-list>.news-content{
    display:none;
}
.news-list .current{
    display: block;
}
.news-content .flrst img{
    float:left;
    margin-right:20px;
}
.news-content .news-first-title{
    display: block;
    font-size:36px;
    font-weight: bold;;
    color:#3e3e3e;
    height:50px;
    line-height:50px;
    overflow: hidden;
}
.news-content .news-first-desc{
    display: block;
    height:60px;
    font-size:14px;
    line-height:1.5;
    overflow: hidden;
    color:#898989;
}
.news-list{
    padding:4px 0;
}
.news-item{
    padding:4px 0;
}
.news-list .Int-tit{
    display: block;
    position: relative;
    height:35px;
    line-height:35px;
    padding:0 55px 0 90px;
    font-size:16px;
    color:#555555;
    overflow: hidden;
}
.news-content>.text-list>.news-list>a:hover{
    color:#d1ab57;
}
.news-content>.text-list>.news-list>a:hover>.new-type{
    background: #d1ab57;
    color:#fff;
}
.news-content>.text-list>.news-item>a:hover{
    color:#d1ab57;
}
.news-content>.text-list>.news-item>a:hover>.new-type{
    background: #d1ab57;
    color:#fff;
}
.new-type{
    position: absolute;
    top:0;
    left:0;
    width: 68px;
    height:35px;
    line-height:35px;
    background: #ebebeb;
    text-align: center;
    color:#7a7a7a;
}
.news-list .date{
    position:absolute;
    right:0;
    top:0;
    width:50px;
    height:35px;
    line-height:35px;
    text-align: right;
    color:#bababa;
}
.news .news-more{
    display: block;
    width:100%;
    height:45px;
    margin-top:15px;
    line-height:45px;
    background:#f0f0f0;
    color:#515151;
    font-size: 16px;
    text-align: center;
}
.news .news-more em{
    color:#d1ab57;
    font-style: normal;
}

.hero{
    float:left;
    width:400px;
}
.home-mod{
    margin-bottom:50px;
}
.hero-tab{
    margin-bottom: 15px;
}
.bd>.hero-content{
    display: none;
}
.bd > .current{
    display: block;
}

.tab{
    position: relative;
    height:50px;
    border-bottom:3px solid #ededee;
}
.hero-tab li{
    width:133.333333px;
}
.tab-nav li{
    float:left;
    height:36px;
    line-height:36px;
    overflow: hidden;
    cursor: pointer;
    color:#666666;
    font-size: 16px;
    text-align: center;
}
.hero-free{
    position:absolute;
    height:auto;
    overflow: hidden;
    z-index:8;
}
.hero .bd{
    min-height:420px;
}
.bd{
    zoom:1;
    overflow: hidden;
}
.free-list{
    height:400px;
    overflow: hidden;
}
.free-list,.hero-new-list{
    position: relative;
    margin-right:-10px;
}
.hero-new-list a.skin-first{
    width:400px;
    height:145px;
}
.hero-new-list a.skin-first img{
    width:400px;
    height:145px;
}
.free-list a,.hero-new-list a{
    float:left;
    position: relative;
    width:195px;
    height:70px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom:10px;
}
.free-list img,.hero-new-list img{
    display: block;
    width:195px;
    height:70px;
}
.sbg{
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: #000;
    background:rgba(0,0,0,0.78);
    cursor: pointer;
    z-index:1;
    overflow: hidden;
}
.sbg .first-name{
    display: block;
    padding-top:25px;
    font-size:14px;
    color: #c9aa71;
    text-align: center;
}
.free-list > a:hover > .sbg {
    display: block;
    position: absolute;
    width: 195px;
    height: 70px;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.78);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.hero-new-list a:hover > .sbg {
    display: block;
    position: absolute;
    width: 195px;
    height: 70px;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.78);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.bottom-go{
    display: block;
    margin-top: 42px;
    margin-bottom:20px;
    zoom:1;
    overflow: hidden;
}
.qt-go,.mall-go{
    float:left;
    width:195px;
    height:70px;
}
.mall-go{float:right;}
.side-tips-18{
    color:#878787;
    position: relative;
    height: 70px;
    padding-top:5px;
    padding-left:80px;
}
.icon-18{
    position:absolute;
    left:0;
    top:0;
    width:70px;
    height: 70px;
    background-position: -330px -89px;
}
.recommend{
    clear:both;
}
.recommend-top{
    margin-bottom:20px;
}
.recommend-nav li{
    width:150px;
}
.recommend-content{
    display: none;
}
.recommend-list .current{
    display: block;
}
.pv-list{
    width:1260px;
    position: relative;
}
.recommend-video{
    height:190px;
}
.recommend-video li{
    margin-bottom:0;
}
.pv-list li{
    width:190px;
    height:155px;
    margin:0 20px 20px 0;
    position:relative;
    float:left;
}
.pv-list li .pv-Ink{
    width:100%;
    height:100%;
    display: block;
    color:#555;
    position: relative;
}
.pv-list li .pv-Ink img{
    width:190px;
    height:110px;
    display:block;
    margin-bottom:5px;
}
.pa{
    position: absolute;
}
.pv-list li .pv-cover-1{
    width:100%;
    height:110px;
    top:0;
    left:0;
    display: none;
    background: rgba(0,0,0,0.3);
}
.pv-list li .pv-Ink .pv-cover-icon{
    width:65px;
    height:65px;
    left:60px;
    top:20px;
    display: none;
    background: url(http://ossweb-img.qq.com/images/lol/web201310/video/bg-icon-v.png) no-repeat  0 0;
}
.pv-list .shadow1{
    bottom:45px;
    text-align: right;
    line-height:30px;
}
.shadow1{
    position: absolute;
    left:0;
    bottom:0;
    display: block;
    width:100%;
    height:20%;
    background: rgba(0,0,0,0.5);
}
.shadow1 i{
    padding-right:5px;
    font-style:normal;
    color:#ddd;
}
.pv-list li .pv-Ink h5{
    font-weight:normal;
    line-height:20px;
    height:40px;
    overflow: hidden;
    font-size:14px;
}
a.recommend-more{
    display: block;
    width:100%;
    height:45px;
    margin-top:15px;
    line-height:45px;
    background: #f0f0f0;
    color:#515151;
    font-size:16px;
    text-align: center;
}
a.recommend-more em{
    color:#d1ab57;
    font-style: normal;
}
.recomment-act{
    margin-right:-13.3333px;
}
.act-list{
    position: relative;
}
.recomment-act li{
    width:300px;
    height:240px;
    margin:0 13.3333px 0 0;
    box-shadow:0 3px 6px rgba(0,0,0,.15);
    float:left;
}
.recomment-act .act-img{
    height:130px;
}
.act-list .act-img{
    width:100%;
    height:130px;
    display: block;
    position: relative;
    overflow: hidden;
}
.recomment-act .act-img img{
    width:300px;
    height:130px;
}
.act-list .act-img img{
    display: block;
    width:300px;
    height:130px;
    transition:ease all .8s;
}
.act-list .act-img .act-num{
    background:url(http://ossweb-img.qq.com/images/lol/v2/op60.png) repeat;
    width:100%;
    height:26px;
    line-height:26px;
    color:#f8f8f8;
    font-size:12px;
    position: absolute;
    left:0;
    bottom:0;
    text-align: center;
}
.act-list .act-img .act-num-f{
    color:#f3ca6f;
    margin:0 4px;
    font-weight:normal;
}

.act-list .act-processing{
    background: #72ca2a;
}
.act-list .act-times{
    position: absolute;
    height:22px;
    line-height:22px;
    padding:0 8px;
    border-radius:11px;
    font-size:12px;
    top:120px;
    z-index: 2;
    right:11px;
    color:#fff;
}
.recomment-act .act-times{
    top:5px;
    right:5px;
}
.act-list .act-innr{
    padding:11px 15px 0;
    position: relative;
}
.act-list .act-innr .act-tit{
    color:#404040;
    font-size:24px;
    line-height:30px;
}
.w-s-n{
    white-space:normal;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.act-list .act-innr .act-date{
    font-size:12px;
    line-height:16px;
    color:#d1ab57;
    margin:6px 0 10px;
}
.act-list .act-innr .act-date span{
    color:#9f9f9f;
}
.act-list .act-innr .act-intro{
    color:#888;
    font-size:12px;
    line-height:16px;
}
.footer{
    padding:30px 0;
    zoom:1;
    background:url(http://ossweb-img.qq.com/images/lol/v2/bg-footer.jpg) no-repeat center top;
}
.footer-inner{
    padding-left:380px;
    width: 860px;
    zoom:1;
    color:#A5A5A5;
}
.footer-flst{
    float:right;
}
.footer .c4f6{
    color:#568193;
}
.footer .f9{
    font-size:12px;
    color:#568193;
}
.footer .plr10{
    padding:0 5px;
}
